# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
transfert.js
auth.json
portfolio-19aed-firebase-adminsdk-ufatz-88f0cd3be1.json
keysshnew
keysshnew.pub

npm-debug.log*
yarn-debug.log*
yarn-error.log*
