/* pages */
@import './home.css';
@import './backoffice.css';
@import './add.css';
@import './lost.css';
/* components */
@import './header.css';
@import './footer.css';
@import './separateur.css';
@import './project.css';
@import './tag.css';
@import './timeline.css';
@import './skillbar.css';
@import './contactForm.css';
@import './modale.css';
/* adds */
/* @import url('//fonts/Lobster-Regular.ttf'); */
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../fonts/Cerebri-Sans-Regular.ttf') format('truetype');
    font-display: swap;
}

/* @font-face {
    font-family: 'Lobster';
    src: url('/fonts/Lobster-Regular.ttf');
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

.bg-white {
    background-color: white;
}

.txt-white {
    color: white;
}

.bg-dark {
    background-color: #212121;
}

.txt-dark {
    color: #212121;
}