#backofficeBox {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    user-select: all;
}

#backofficeBox h2 {
    text-transform: uppercase;
    font-family: 'Cerebri';
    font-size: 1.8em;
    margin: 100px 0 50px 0;
    color: #2f435e;
}

#backofficeBox h4 {
    text-transform: uppercase;
    font-family: 'Cerebri';
    margin: 0 0 20px 0;
}

#backofficeBox h4:hover {
    color: rgba(80, 88, 133, 0.644);
    cursor: pointer;
}

#backofficeBox .addProject {
    font-family: 'Cerebri';
    padding: 5px 10px;
}

#backofficeBox .addProject:hover {
    color: #2f435e91;
    cursor: pointer;
}

#backofficeBox .projectList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

#backofficeBox .projectList .project {
    opacity: 1;
    margin: 10px;
    width: 800px;
    height: fit-content;
    background: #4b6383;
    transition: 0.2s;
    padding: 5px;
    color: white;
    font-family: 'Cerebri';
}

#backofficeBox .projectList .project a:hover {
    background: #2f435eaf;
    /* color: #648eb1; */
}

#backofficeBox .projectList .project a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cerebri';
    height: 35px;
}

#backofficeBox .projectList .project input {
    width: 99%;
    margin: 5px;
    border: none;
}

#backofficeBox .projectList .project textarea {
    width: 99%;
    height: 200px;
    margin: 5px;
    border: none;
}

#backofficeBox .projectList .project textarea:first-of-type {
    height: 100px;
}

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 600px;
    overflow-y: auto;
    border: 1px solid black;
    margin: 5px;
}

.formModifyProject {
    display: flex;
    flex-direction: column;
}

.formModifyProject h3 {
    margin: 10px 0 0 5px;
}

/* .formModifyProject input, .formModifyProject textarea {
    width: 500px;
} */

.projectList textarea {
    width: 800px;
    height: 50vh;
    margin-bottom: 5px;
}




.wysiwyg {
    width: 99%;
    margin: 5px;
    padding: 5px;
    height: 250px;
    margin-bottom: 20px;
    background: white;
    border-radius: 3px;;
    overflow-y: auto;
    color: #2f435e;
}

#backofficeBox form .wysiwyg h4:hover {
    color: #2f435e;
    cursor: auto;
}

#backofficeBox form .wysiwyg h4:not(:first-child) {
    margin-top: 20px;
}

#backofficeBox form .wysiwyg h4 {
    margin-bottom: 10px;
    text-transform: initial;
}

#backofficeBox form .wysiwyg p h4 {
    font-size: initial;
}

#backofficeBox form .wysiwyg p {
    font-size: 14px;
    margin: 5px;
    padding: 0;
}

#backofficeBox form .wysiwyg p img {
    filter: invert(20%);
    margin-right: 5px;
    width: 15px;
    height: 17px;
}

#backofficeBox form .wysiwyg * {
    margin: 0;
}




.projectList .htmlButton {
    width: fit-content;
    padding: 5px 15px;
    border-radius: 3px;
}

.projectList .htmlButton {
    margin: 5px 5px 0 5px;
}

.projectList input {
    width: 300px;
}

.projectList button {
    margin: 5px 0;
    width: 250px;
    height: 30px;
    font-family: 'Cerebri';
    background-color: #2f435e;
    color: white;
    border: none;
}

.projectList button:hover {
    background-color: #2f435ea9;
    color: white;
    cursor: pointer;
}

#backofficeBox #doorUp {
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 50vh;
    background: #2f435e;
    z-index: 100;
    border-bottom: solid 5px grey;
    transition: 0.5s;
}

#backofficeBox #doorDown {
    position: fixed;
    bottom: 0vh;
    width: 100%;
    height: 50vh;
    background: #2f435e;
    z-index: 100;
    border-top: solid 5px grey;
    transition: 0.5s;
}

#loginBox {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cerebri';
}

#decoButton {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-family: 'Cerebri';
    background-color: #2f435e;
    color: white;
    border: none;
}

#backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    font-family: 'Cerebri';
    background-color: #2f435e;
    color: white;
    border: none;
}

#decoButton:hover, #backButton:hover {
    background-color: #2f435ea9;
    color: white;
    cursor: pointer;
}

#loginBox h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #2f435e;
}

#loginForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cerebri';
}

#loginForm input {
    margin: 5px 0;
    font-family: 'Cerebri';
}

#loginForm button {
    margin: 5px 0;
    width: 50%;
    height: 30px;
    font-family: 'Cerebri';
    background-color: #2f435e;
    color: white;
    border: none;
}

#loginForm button:hover {
    background-color: #2f435ea9;
    color: white;
}

.projectList .eraseButton:hover {
    background-color: #2f435ea9;
    /* background-color: #944a4ae7; */
}

.hidden {
    display: none;
}

.button {
    background: #2f435e;
    padding: 5px 20px;
    border-radius: 3px;
}

.button:hover {
    background-color: #2f435ea9;
    color: #89abd8;
    cursor: pointer;
}











@media screen AND (max-width: 1000px) {
    #backofficeBox h2 {
        font-size: 1.6em;
    }

    #backofficeBox .projectList {
        width: 100%;
    }

    #backofficeBox .projectList .project {
        margin: 10px 0;
        width: 95%;
        background: #4b6383;
        transition: 0.2s;
        padding: 5px;
        color: white;
        font-family: 'Cerebri';
        box-shadow: none;
    }

    #backofficeBox .projectList .project a {
        font-size: 13px;
    }

    #backofficeBox .projectList .project input {
        font-size: 10px;
        width: 97%;
    }
    
    #backofficeBox .projectList .project textarea {
        font-size: 12px;
        width: 97%;
    }
}