@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

footer{
    background-color: #2f435e;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #496891;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.3s;
}

.menu span{
    color: #ffffff;
    text-transform: capitalize;
    cursor: pointer;
}
.menu span:hover{
    color: #567cad;
    transition: 0.2s;
}

.footer-copyright{
    background-color:#3b5475;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}