#home {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../../public/images/backgroundCyb.webp"); */
    /* background-image: url("../../public/images/background2.jpg"); */
    /* background-image: url("../../public/images/background4.webp"); */
    /* background-image: url("../../public/images/backgroundBO.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* color: #ca3b8c; */
    color: #ececec;
    background-color: #2f435e;
    /* background: rgb(255,255,255); */
/* background: linear-gradient(180deg, rgba(47,67,94,1) 50%, rgb(255, 255, 255) 100%); */
/* background: linear-gradient(140deg, rgba(47,67,94,1) 60%, rgb(109, 128, 151) 100%); */
}

nav {
    /* font-family: Lobster; */
    font-family: 'Cerebri', Helvetica, Arial, sans-serif;
    user-select: none;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    top: 20px;
    right: 50px;
}

nav span, a {
    font-size: 14px;
    cursor: pointer;
    transition: 0.1s;
    /* color: #ca3b8c; */
    color: #ececec;
}

nav span a {
    text-decoration: none;
    /* color: #ca3b8c; */
    color: #ececec;
}

nav span:hover, a:hover {
    /* color: #FB038E; */
    color: #ececec;
    text-shadow: 0px 0px 20px #ececec;
}

nav *:not(:last-child) {
    margin-right: 50px;
}

#reseaux {
    z-index: 101;
    position: fixed;
    /* top: 15%; */
    top: 65%;
    left: 0px;
}

#reseaux div {
    position: relative;
    width: 75px;
    height: 55px;
    margin: 5px 0;
    left: -20px;
    transition: 0.3s;
}

#reseaux div:hover {
    left: 0;
}


/* nav span {
    position: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-size: 20px;
} */

/* About */
/* nav span:nth-of-type(1) {
    transform: rotate(90deg);
    left: -10px;
} */

/* Projets */
/* nav span:nth-of-type(2) {
    top: 15px;
} */

/* Curriculum vitae */
/* nav span:nth-of-type(3) {
    transform: rotate(-90deg);
    right: -55px;
} */

/* about */
/* nav span:nth-of-type(1) {} */

/* projets */
/* nav span:nth-of-type(2) {} */

/* curriculum vitae */
/* nav span:nth-of-type(3) {} */



/* Scroll */
nav span:nth-of-type(4) {
    top: 96%;
}

#logoCentral {
    position: absolute;
    top: auto;
    left: auto;
    font-family: 'Lobster', cursive;
    /* font-size: 200px; */
    /* font-weight: 400; */
    font-weight: bold;
    position: fixed;
    cursor: default;
    user-select: none;
}

#backTop {
    z-index: 9999;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

#backTop img {
    width: 32px;
    filter: invert(100%);
}


section h2 {
    font-size: 40px;
    padding: 50px;
    width: 100%;
    text-align: center;
    font-family: Roboto;
}

.sec-box {
    color: #2f435e;
    position: relative;
    width: 100%;
    /* height: fit-content; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Roboto';
}

.separateur {
    background-color: #2f435e;
    font-family: 'Lobster', cursive;
    /* font-size: 30px; */
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100px; */
    height: 50vh;
}

/* MES COMPETENCES */
#competences {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

#competences div {
    width: 400px;
    height: 30px;
    background: rgb(235, 235, 235);
}

#competences div div {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 5px;
    width: 0%;
    /* color: white; */
    color: #212121;
}

#html div {background: rgba(109, 202, 214, 0.644);}
#css div {background: rgba(192, 141, 216, 0.659);}
#javascript div {background: rgba(220, 226, 131, 0.651);}
#react div {background: rgba(130, 136, 221, 0.623);}
#nodejs div {background: rgba(224, 191, 130, 0.658);}
#mongodb div {background: rgba(159, 224, 143, 0.664);}
#php div {background: rgba(25, 214, 151, 0.5);}
#sql div {background: rgba(214, 25, 25, 0.5);}

/* #html div {background: #212121;}
#css div {background: #212121;}
#javascript div {background: #212121;}
#react div {background: #212121;}
#nodejs div {background: #212121;}
#mongodb div {background: #212121;}
#php div {background: #212121;}
#sql div {background: #212121;} */

/* #html div {background: #2f435e;}
#css div {background: #708297;}
#javascript div {background: #708297;}
#react div {background: #2f435e;}
#nodejs div {background: #2f435e;}
#mongodb div {background: #708297;}
#php div {background: #708297;}
#sql div {background: #2f435e;} */

/* Classes utiles */
.mrg-top10 {margin-top: 10px;}
.mrg-top25 {margin-top: 25px;}
.mrg-top50 {margin-top: 50px;}
.mrg-top100 {margin-top: 100px;}

.p-large {
    width: 43%;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Roboto;
}




/* .project-Box {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.project-Box {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 50px;
}











@media only screen and (max-width: 1400px){

    .project-Box {
        display: flex;
        flex-direction: column;
    }

}