.project {
    /* width: 400px; */
    transition: 0.5s;
    width: 400px;
    height: 500px;
    opacity: 0;
    background-color: #9c9086;
    border-radius: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 12px #2f435e;
}

.project .project-link div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f435e;
    color: white;
    width: 100%;
    height: 80px;
    font-size: 36px;
    /* font-family: 'Overpass'; */
    /* font-family: 'Cerebri'; */
}

.project .project-link:hover div {
    color: #2f435e;
    background-color: white;
}

.project .bground {
    width: 100%;
    height: 420px;
    background-position: center;
    background-size: cover;
}

.inner-desc {
    position: relative;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    height: 0;
    /* background-color: rgba(158, 151, 145, 0.884); */
    background-color: #2f435eda;
    overflow: hidden;
}

.inner-desc p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 20px;
    padding: 10px;
    /* color: #212121; */
    /* background-color: #fff; */
    text-align: justify;
    font-family: 'Roboto';
    color: #2f435e;
    border-radius: 5px;
    font-family: 'Cerebri';
}

.inner-desc .tag-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* margin: 20px; */
    /* // marge entre deux lignes <----------------- */
    padding: 20px;
}

.inner-desc .tag-box > *:not(:last-child) {
    margin-right: 20px;
}

.inner-desc img {
    /* transform: rotate(-45deg); */
    /* filter: invert(100%); */
    width: 24px;
}

.inner-desc a {
    margin: 20px;
}

.descLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.project .descLinks a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.invert {
    filter: invert(100%);
}

.invert:hover {
    filter: invert(10%);
}

.hidden {
    display: none;
}

.project .descLinks .hidden {
    display: none;
}

.inner-desc .github-logo {
    width: 60px;
}

.inner-desc .github-logo:hover {
    filter: invert(90%);
}

.project:hover .bground .inner-desc {
    width: 100%;
    height: 100%;
}

.project:hover .project-link div {
    color: #2f435e;
    background-color: white;
}

.project a {
    text-decoration: none;
    color: white;
    font-family: Lobster;
    width: 100%;
}

/* .project p {
    position: absolute;
    bottom: 20px;
} */










@media screen AND (max-width: 1300px) {
    .project {
        width: 90%;

    }
}