/* pages */
/* @import './css/app.css'; */
@import './css/home.css';
/* components */
@import './css/header.css';
@import './css/separateur.css';
@import './css/project.css';
@import './css/tag.css';
/* adds */
/* @import url('//fonts/Lobster-Regular.ttf'); */
@import url('//fonts/Overpass-Regular.ttf');
/* @font-face {
  font-family: 'Lobster';
  src: url('/fonts/Lobster-Regular.ttf');
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-white {
  background-color: white;
}

.txt-white {
  color: white;
}

.bg-dark {
  background-color: #212121;
}

.txt-dark {
  color: #212121;
}