/* pages */
@import './css/app.css';
@import './css/home.css';
/* components */
@import './css/header.css';
@import './css/separateur.css';
@import './css/project.css';
/* adds */
@import url('//fonts/Lobster-Regular.ttf');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}